Repository codesquad-member-2020/airbnb-06, pull requests merged in 2020-06, with the labels that each got.

#58 [iOS] 가격 범위 화면 인터페이스 구성
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Network/Mocks/AccommodationListMock.swift
  iOS/Airbnb/Airbnb/Network/Requests/AccommodationRequest.swift
  iOS/Airbnb/Airbnb/Network/Requests/Request.swift
  iOS/Airbnb/Airbnb/ViewControllers/PriceRangeViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Views/PriceRangeView/PriceRangeGraphView.swift
  iOS/Airbnb/Airbnb/Views/PriceRangeView/PriceRangeSlider.swift
  iOS/Airbnb/Airbnb/Views/PriceRangeView/PriceRangeSliderThumbLayer.swift
  iOS/Airbnb/Airbnb/Views/PriceRangeView/PriceRangeSliderTrackLayer.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.swift
  iOS/Airbnb/AirbnbTests/AirbnbTests.swift
Labels: iOS, view

#59 [iOS] #50, #53 이슈 해결
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Models/Accommodation.swift
  iOS/Airbnb/Airbnb/Network/ExtendedSession.swift
  iOS/Airbnb/Airbnb/Network/NetworkDispatcher.swift
  iOS/Airbnb/Airbnb/Network/Requests/AccommodationRequest.swift
  iOS/Airbnb/Airbnb/Network/UseCases/AccommodationUseCase.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.swift
Labels: enhancement, feedback, iOS

#60 [iOS] 인원 선택 화면 기능 구현
  iOS/Airbnb/Airbnb/ViewControllers/GuestViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Views/GuestView/GuestSelectionView.swift
  iOS/Airbnb/Airbnb/Views/GuestView/GuestSelectionView.xib
Labels: enhancement, iOS

#63 [iOS] 가격 범위 화면 기능 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/ViewControllers/PriceRangeViewController.swift
  iOS/Airbnb/Airbnb/Views/PriceRangeView/PriceRangeGraphHighlightLayer.swift
  iOS/Airbnb/Airbnb/Views/PriceRangeView/PriceRangeGraphView.swift
  iOS/Airbnb/Airbnb/Views/PriceRangeView/PriceRangeSlider.swift
  iOS/Airbnb/Airbnb/Views/PriceRangeView/PriceRangeSliderThumbLayer.swift
Labels: enhancement, iOS

#66 [iOS] 상세 기능 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Delegates/PassSelectedConditionDelegate.swift
  iOS/Airbnb/Airbnb/Delegates/SendDataDelegate.swift
  iOS/Airbnb/Airbnb/Models/FilteringCondition.swift
  iOS/Airbnb/Airbnb/Network/EndPoints.swift
  iOS/Airbnb/Airbnb/Network/Errors/ErrorAlertController.swift
  iOS/Airbnb/Airbnb/Network/Errors/NetworkError.swift
  iOS/Airbnb/Airbnb/Network/ExtendedSession.swift
  iOS/Airbnb/Airbnb/Network/NetworkDispatcher.swift
  iOS/Airbnb/Airbnb/Network/Requests/AccommodationRequests.swift
  iOS/Airbnb/Airbnb/Network/Requests/Request.swift
  iOS/Airbnb/Airbnb/Network/UseCases/AccommodationUseCase.swift
  iOS/Airbnb/Airbnb/ViewControllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/GuestViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/ViewModels/SearchViewModel.swift
  iOS/Airbnb/Airbnb/Views/CalendarView/CalendarCollectionViewCell.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.xib
  iOS/Airbnb/Airbnb/Views/SearchView/FilterButton.swift
Labels: enhancement, iOS

#68 [iOS] 즐겨찾기 화면 구성 및 즐겨찾는 목록 보여줌
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/DataSources/BookMarkedCollectionViewDataSource.swift
  iOS/Airbnb/Airbnb/Network/EndPoints.swift
  iOS/Airbnb/Airbnb/Network/Requests/AccommodationRequests.swift
  iOS/Airbnb/Airbnb/ViewControllers/BookMarkedViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.xib
Labels: enhancement, iOS, view

#70 [iOS] 숙소 검색 기능 구현
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Models/FilteringCondition.swift
  iOS/Airbnb/Airbnb/Network/EndPoints.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/ViewModels/SearchViewModel.swift
Labels: enhancement, iOS

#71 [iOS] 이미지 캐싱 기능
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Assets.xcassets/MainColor.colorset/Contents.json
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Utilities/Image/ImageCache.swift
  iOS/Airbnb/Airbnb/Utilities/Image/ImageLoader.swift
  iOS/Airbnb/Airbnb/Utilities/Network/EndPoints.swift
  iOS/Airbnb/Airbnb/Utilities/Network/Errors/ErrorAlertController.swift
  iOS/Airbnb/Airbnb/Utilities/Network/Errors/NetworkError.swift
  iOS/Airbnb/Airbnb/Utilities/Network/ExtendedSession.swift
  iOS/Airbnb/Airbnb/Utilities/Network/Mocks/AccommodationListMock.swift
  iOS/Airbnb/Airbnb/Utilities/Network/NetworkDispatcher.swift
  iOS/Airbnb/Airbnb/Utilities/Network/Requests/AccommodationRequests.swift
  iOS/Airbnb/Airbnb/Utilities/Network/Requests/ImageRequest.swift
  iOS/Airbnb/Airbnb/Utilities/Network/Requests/Request.swift
  iOS/Airbnb/Airbnb/Utilities/Network/UseCases/AccommodationUseCase.swift
  iOS/Airbnb/Airbnb/Utilities/Network/UseCases/NetworkUseCase.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.xib
Labels: enhancement, iOS

#73 지도 화면 표시
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/ViewControllers/MapViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
Labels: enhancement, iOS
