Repository codesquad-member-2020/airbnb-06, pull requests merged in 2020-05, with the labels that each got.

#14 숙소 탭 화면 인터페이스 구성
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/AccommodationSearchCollectionView.swift
  iOS/Airbnb/Airbnb/AccommodationSearchCollectionViewCell.swift
  iOS/Airbnb/Airbnb/AccommodationSearchCollectionViewCell.xib
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/FilterButton.swift
Labels: iOS, view

#16 [iOS] 숙소 탭 화면 구성 및 모델 생성
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb.xcworkspace/contents.xcworkspacedata
  iOS/Airbnb/Airbnb.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Airbnb/Airbnb/Accommodation.swift
  iOS/Airbnb/Airbnb/AccommodationSearchCollectionViewCell.swift
  iOS/Airbnb/Airbnb/AccommodationSearchCollectionViewDataSource.swift
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/SearchTextField.swift
  iOS/Airbnb/Airbnb/SearchViewController.swift
  iOS/Airbnb/Podfile.lock
  iOS/Airbnb/Pods/Floaty/LICENSE
  iOS/Airbnb/Pods/Floaty/README.md
  iOS/Airbnb/Pods/Floaty/Sources/Floaty.swift
  iOS/Airbnb/Pods/Floaty/Sources/FloatyDelegate.swift
  iOS/Airbnb/Pods/Floaty/Sources/FloatyItem.swift
  iOS/Airbnb/Pods/Floaty/Sources/FloatyManager.swift
  iOS/Airbnb/Pods/Floaty/Sources/FloatyViewController.swift
  iOS/Airbnb/Pods/Floaty/Sources/FloatyWindow.swift
  iOS/Airbnb/Pods/Floaty/Sources/UIView+Draggable.swift
  iOS/Airbnb/Pods/Manifest.lock
  iOS/Airbnb/Pods/Pods.xcodeproj/project.pbxproj
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty-Info.plist
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty-dummy.m
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty-prefix.pch
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty-umbrella.h
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty.debug.xcconfig
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty.modulemap
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty.release.xcconfig
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-Info.plist
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-acknowledgements.markdown
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-acknowledgements.plist
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-dummy.m
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-frameworks-Debug-input-files.xcfilelist
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-frameworks-Debug-output-files.xcfilelist
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-frameworks-Release-input-files.xcfilelist
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-frameworks-Release-output-files.xcfilelist
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-frameworks.sh
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-umbrella.h
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb.debug.xcconfig
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb.modulemap
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb.release.xcconfig
  iOS/Airbnb/podfile
Labels: iOS, view

#17 [iOS] 숙소 탭 화면 구현
  .gitignore
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Airbnb/Airbnb.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Airbnb/Airbnb.xcworkspace/contents.xcworkspacedata
  iOS/Airbnb/Airbnb.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Airbnb/Airbnb/Accommodation.swift
  iOS/Airbnb/Airbnb/AccommodationSearchCollectionView.swift
  iOS/Airbnb/Airbnb/AccommodationSearchCollectionViewCell.swift
  iOS/Airbnb/Airbnb/AccommodationSearchCollectionViewCell.xib
  iOS/Airbnb/Airbnb/AccommodationSearchCollectionViewDataSource.swift
  iOS/Airbnb/Airbnb/AppDelegate.swift
  iOS/Airbnb/Airbnb/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/Contents.json
  iOS/Airbnb/Airbnb/Base.lproj/LaunchScreen.storyboard
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/FilterButton.swift
  iOS/Airbnb/Airbnb/Info.plist
  iOS/Airbnb/Airbnb/SceneDelegate.swift
  iOS/Airbnb/Airbnb/SearchTextField.swift
  iOS/Airbnb/Airbnb/SearchViewController.swift
  iOS/Airbnb/Airbnb/ViewController.swift
  iOS/Airbnb/Podfile.lock
  iOS/Airbnb/Pods/Floaty/LICENSE
  iOS/Airbnb/Pods/Floaty/README.md
  iOS/Airbnb/Pods/Floaty/Sources/Floaty.swift
  iOS/Airbnb/Pods/Floaty/Sources/FloatyDelegate.swift
  iOS/Airbnb/Pods/Floaty/Sources/FloatyItem.swift
  iOS/Airbnb/Pods/Floaty/Sources/FloatyManager.swift
  iOS/Airbnb/Pods/Floaty/Sources/FloatyViewController.swift
  iOS/Airbnb/Pods/Floaty/Sources/FloatyWindow.swift
  iOS/Airbnb/Pods/Floaty/Sources/UIView+Draggable.swift
  iOS/Airbnb/Pods/Manifest.lock
  iOS/Airbnb/Pods/Pods.xcodeproj/project.pbxproj
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty-Info.plist
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty-dummy.m
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty-prefix.pch
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty-umbrella.h
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty.debug.xcconfig
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty.modulemap
  iOS/Airbnb/Pods/Target Support Files/Floaty/Floaty.release.xcconfig
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-Info.plist
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-acknowledgements.markdown
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-acknowledgements.plist
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-dummy.m
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-frameworks-Debug-input-files.xcfilelist
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-frameworks-Debug-output-files.xcfilelist
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-frameworks-Release-input-files.xcfilelist
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-frameworks-Release-output-files.xcfilelist
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-frameworks.sh
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb-umbrella.h
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb.debug.xcconfig
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb.modulemap
  iOS/Airbnb/Pods/Target Support Files/Pods-Airbnb/Pods-Airbnb.release.xcconfig
  iOS/Airbnb/podfile
Labels: iOS, view

#24 [iOS] 날짜 선택 화면의 캘린더 인터페이스 구성
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/DataSources/AccommodationSearchCollectionViewDataSource.swift
  iOS/Airbnb/Airbnb/Entry/AppDelegate.swift
  iOS/Airbnb/Airbnb/Entry/SceneDelegate.swift
  iOS/Airbnb/Airbnb/Models/Accommodation.swift
  iOS/Airbnb/Airbnb/Utilities/Date/DateManager.swift
  iOS/Airbnb/Airbnb/ViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Views/SearchViews/AccommodationSearchCollectionView.swift
  iOS/Airbnb/Airbnb/Views/SearchViews/AccommodationSearchCollectionViewCell.swift
  iOS/Airbnb/Airbnb/Views/SearchViews/AccommodationSearchCollectionViewCell.xib
  iOS/Airbnb/Airbnb/Views/SearchViews/CalendarCollectionViewCell.swift
  iOS/Airbnb/Airbnb/Views/SearchViews/FilterButton.swift
  iOS/Airbnb/Airbnb/Views/SearchViews/SearchTextField.swift
  iOS/Airbnb/Pods/Pods.xcodeproj/project.pbxproj
Labels: iOS, view

#25 [iOS] 캘린더뷰 UI 구성
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/ViewControllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/Views/CalendarView/CalendarCollectionViewCell.swift
  iOS/Airbnb/Airbnb/Views/Components/CircleView.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionView.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.xib
  iOS/Airbnb/Airbnb/Views/SearchView/FilterButton.swift
  iOS/Airbnb/Airbnb/Views/SearchView/SearchTextField.swift
Labels: iOS, view

#27 [iOS] 필터링 관련 재사용 뷰 구성
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Views/Components/FooterView.swift
  iOS/Airbnb/Airbnb/Views/Components/FooterView.xib
  iOS/Airbnb/Airbnb/Views/Components/HeaderView.swift
  iOS/Airbnb/Airbnb/Views/Components/HeaderView.xib
Labels: iOS, view

#28 [iOS] 캘린더 컬렉션뷰에 오늘 이후의 날짜값 데이터 바인딩
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Utilities/Date/DateManager.swift
  iOS/Airbnb/Airbnb/ViewControllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/Views/CalendarView/CalendarCollectionViewCell.swift
  iOS/Airbnb/Airbnb/Views/Components/CalendarHeaderView.swift
  iOS/Airbnb/Airbnb/Views/Components/CircleView.swift
Labels: iOS, view

#29 [iOS] 날짜 선택 뷰 구현 및 날짜 값 바인딩
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/DataSources/AccommodationSearchCollectionViewDataSource.swift
  iOS/Airbnb/Airbnb/Entry/AppDelegate.swift
  iOS/Airbnb/Airbnb/Entry/SceneDelegate.swift
  iOS/Airbnb/Airbnb/Models/Accommodation.swift
  iOS/Airbnb/Airbnb/Utilities/Date/DateManager.swift
  iOS/Airbnb/Airbnb/ViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Views/CalendarView/CalendarCollectionViewCell.swift
  iOS/Airbnb/Airbnb/Views/Components/CalendarHeaderView.swift
  iOS/Airbnb/Airbnb/Views/Components/CircleView.swift
  iOS/Airbnb/Airbnb/Views/Components/FooterView.swift
  iOS/Airbnb/Airbnb/Views/Components/FooterView.xib
  iOS/Airbnb/Airbnb/Views/Components/HeaderView.swift
  iOS/Airbnb/Airbnb/Views/Components/HeaderView.xib
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionView.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.xib
  iOS/Airbnb/Airbnb/Views/SearchView/FilterButton.swift
  iOS/Airbnb/Airbnb/Views/SearchView/SearchTextField.swift
  iOS/Airbnb/Pods/Pods.xcodeproj/project.pbxproj
Labels: iOS

#30 [iOS] 날짜 필터 버튼 선택 시 캘린더 화면 표시
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/ViewControllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Views/Components/HeaderView.xib
Labels: iOS, view

#31 [iOS] ASWebAuthenticationSession을 이용해 GitHub 로그인 성공 및 토큰 받아오는 기능 구현
  iOS/Airbnb/Airbnb/Assets.xcassets/logo.imageset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/logo.imageset/logo.png
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/ViewControllers/MainViewController.swift
Labels: enhancement, iOS, view

#34 [iOS] 인원 선택 화면 인터페이스 구성
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/ViewControllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/GuestViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Views/Components/HeaderView.swift
  iOS/Airbnb/Airbnb/Views/Components/HeaderView.xib
  iOS/Airbnb/Airbnb/Views/GuestView/CountControlButton.swift
  iOS/Airbnb/Airbnb/Views/GuestView/GuestSelectionView.swift
  iOS/Airbnb/Airbnb/Views/GuestView/GuestSelectionView.xib
  podfile
Labels: iOS, view

#35 [iOS] 캘린더에 체크인-체크아웃 선택하는 기능 구현
  iOS/Airbnb/Airbnb.xcodeproj/project.pbxproj
  iOS/Airbnb/Airbnb/Assets.xcassets/LightGray.colorset/Contents.json
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Utilities/Date/DateManager.swift
  iOS/Airbnb/Airbnb/ViewControllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/Views/CalendarView/CalendarCollectionViewCell.swift
Labels: enhancement, iOS

#36 [iOS] ASWebAuthenticationSession을 이용해 GitHub 로그인 성공 및 토큰 받아오는 기능 구현
  iOS/Airbnb/Airbnb/Assets.xcassets/logo.imageset/Contents.json
  iOS/Airbnb/Airbnb/Assets.xcassets/logo.imageset/logo.png
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/ViewControllers/MainViewController.swift
Labels: enhancement, iOS, view

#50 [iOS] network 기본 설정 작업 및 목데이터로 숙소 목록 화면 데이터 바인딩 작업
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/FakeAccommodationList.json
  iOS/Airbnb/Airbnb/Models/Accommodation.swift
  iOS/Airbnb/Airbnb/Network/EndPoints.swift
  iOS/Airbnb/Airbnb/Network/Mocks/AccommodationListMock.swift
  iOS/Airbnb/Airbnb/Network/Requests/AccommodationRequest.swift
  iOS/Airbnb/Airbnb/Network/Requests/Request.swift
  iOS/Airbnb/Airbnb/Network/UseCases/AccommodationUseCase.swift
  iOS/Airbnb/Airbnb/Utilities/Date/DateManager.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/ViewModels/AccommodationListViewModel.swift
  iOS/Airbnb/Airbnb/ViewModels/ViewModelBinding.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.xib
  iOS/Airbnb/AirbnbTests/AirbnbTests.swift
  iOS/Airbnb/AirbnbTests/Info.plist
Labels: iOS

#51 [iOS] 헤더에 토큰 담아서 요청 보내도록 코드 추가 및 테스트 코드 작성
  iOS/Airbnb/Airbnb/Network/Requests/AccommodationRequest.swift
  iOS/Airbnb/AirbnbTests/AirbnbTests.swift
Labels: iOS

#54 [iOS] 선택된 체크인-아웃 날짜를 헤더와 숙소 찾기 화면에 반영
  iOS/Airbnb/Airbnb/Assets.xcassets/MainColor.colorset/Contents.json
  iOS/Airbnb/Airbnb/Base.lproj/Main.storyboard
  iOS/Airbnb/Airbnb/Delegates/SendDataDelegate.swift
  iOS/Airbnb/Airbnb/Utilities/Date/DateManager.swift
  iOS/Airbnb/Airbnb/ViewControllers/CalendarViewController.swift
  iOS/Airbnb/Airbnb/ViewControllers/SearchViewController.swift
  iOS/Airbnb/Airbnb/Views/Components/CircleView.swift
  iOS/Airbnb/Airbnb/Views/Components/PopupFooterView.swift
  iOS/Airbnb/Airbnb/Views/Components/PopupFooterView.xib
  iOS/Airbnb/Airbnb/Views/Components/PopupHeaderView.swift
  iOS/Airbnb/Airbnb/Views/SearchView/AccommodationSearchCollectionViewCell.swift
  iOS/Airbnb/Airbnb/Views/SearchView/FilterButton.swift
  iOS/Airbnb/AirbnbTests/DateMangerTests.swift
Labels: enhancement, iOS
